body {
  margin: 0 auto;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
.header {
  margin: 0 auto;
  padding: 15px 0;
  background-color: lightgray;
  border-bottom: 1px solid #777;
}
.header::after {
  content: "";
  clear: both;
  display: table;
}
.header__logo {
  float: left;
  max-width: 50px;
  max-height: 50px;
  margin-left: 15px;
}
.header__navbar {
  float: right;
  font-size: 15px;
}
.navbar__element{
  display: inline-block;
  vertical-align: -100%;
  padding-right: 15px;
}
.page--wrapper {
  position: relative;
  min-height: 100px;
}
.menu {
  position: absolute;
  min-height: 100px;
  height: 100%;
  width: 150px;
  font-size: 15px;
  background-color: lightblue;
  border-right: 1px solid #777;
}
.menu ul {
  list-style-type: none;
}
.menu ul li {
  margin: 25px 0;
}
.content {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  height: 100%;
  margin-left: 150px;
  background-color: lightgoldenrodyellow;
}
.content__item {
  width: 300px;
  margin: 15px;
  text-align: center;
}
.item__details {
  text-align: justify;
}
.content__item:nth-child(3n+1)::after {
  content: 'Pseudo Element ::after';
  display: block;
  border-bottom: 1px dashed black;
}
.footer {
  background-color: lightgray;
  border-top: 1px solid #777;
}
.footer--wrapper {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.footer__menu--up {
  list-style-type: none;
}
.footer__menu--down {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 15px;
  font-size: 15px;
  border-top: 1px solid #777;
}
.menu__element--left, .menu__element--right {
  margin: 5px 15px;
}